# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/build/
**/bld/
**/bin/
**/Bin/
**/obj/
**/Obj/
*.dtbcache
*.manifest
*.testlog
*.config
*.lock
*.ide
*.ide-shm
*.ide-wal
